/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* BASE STYLES
  /*******************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  /* margin: 1.5rem; */
  background: rgb(10, 10, 11);
}

h1,
h2,
h3,
header span {
  font-family: 'Prata', serif;
  color: white;
}

h1 {
  font-size: 4.5rem;
  max-width: 407px;
  margin-left: 2rem
}

h2 {
  font-size: 3.3rem;
  padding: 1.2rem;
  letter-spacing: .2rem;
  max-width: 400px;
}

h3 {
  font-size: 3.3rem;
  max-width: 350px;
  margin-left: 6%;
}

.contact p,
.sites p,
.top p,
.founder p {
  color: rgb(207, 207, 207);
  line-height: 1.3;
  font-size: 1.5rem;
  padding: 1rem;
}

.sites p {
  padding: 0;
}

.contact p {
  margin-left: 4%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.links {
  display: none;
}

.sites-lnk {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  font-family: 'Inter';
  letter-spacing: .2rem;
}

header span {
  font-size: 2.5rem;
}

.founder,
footer {
  background: rgb(46, 48, 56);
}

.lni {
  color: white;
}

.contact-btn {
  display: inline-block;
  /* margin: 0 auto; */
  padding: 1% 3%;
  border: 8px solid rgb(251, 232, 80);
  background: rgb(251, 232, 80);
  color: black;
  margin-top: .5rem;
  margin-bottom: 5rem;
  margin-left: 4%;
  font-size: 1.5rem;
}

footer span {
  color: white;
  font-size: 2.2rem;
  padding: 1.5rem;
  font-family: 'Prata', serif;
  letter-spacing: .2rem;
}

.social {
  font-size: 2.2rem;
  padding: 1.5rem;
}

footer .lni {
  margin-right: 1rem;

}

/******************************************
  /* LAYOUT
  /*******************************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}

.top {
  margin-left: 3%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.companies {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 420px;
}

.child1,
.child2 {
  /* width: 50%; */
  margin-left: 2rem;
  margin-right: 2rem;
}

.img1,
.img2 {
  margin-bottom: 1.5rem;
  display: block;
}

.sites {
  margin-left: 2%;
  margin-right: 2%;
}

.sites-lnk,
lni {
  display: inline-block;
  margin-left: 2%;
  margin-top: 1rem;
}

lni {
  font-size: 2.5rem;
  margin-left: 1.2rem;
  font-weight: bold;
}

.pic {
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

.sites p {
  margin-left: 3%;
  max-width: 450px;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.top p {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 550px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {
  .companies {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    margin-bottom: 4rem;
    align-items: center;
    max-width: 768px;
  }

  .child1,
  .child2 {
    margin-left: 16%;
    margin-right: 0;
    width: 80%;
  }

  .child1 {
    margin-bottom: 2rem;
    margin-left: 25%;
  }

  .img1,
  .img2 {
    display: inline-block;
    margin-right: 7rem;
  }

  .pic {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  h1 {
    font-size: 5.5rem;
    max-width: 768px;
    margin-left: 9rem
  }

  h2 {
    font-size: 4rem;
    padding: 1.2rem;
    letter-spacing: .2rem;
    max-width: 700px;
    margin: 0 auto;
  }

  h3 {
    font-size: 4rem;
    margin-bottom: 23px;
  }

  .top p {
    max-width: 615px;
    margin: 0 auto;
    font-size: 2rem;
  }

  .sites-lnk,
  lni {
    display: inline-block;
    margin-left: 8%;
    margin-top: 1rem;
  }

  .sites p {
    margin-left: 8%;
    max-width: 610px;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.6rem;
  }


  .pic {
    min-width: 85%;
    display: block;
  }

  .founder p {
    margin: 0 auto;
    font-size: 1.67rem;
    max-width: 700px;
  }

  .founder {
    padding-bottom: 6%;
  }

  .contact-btn {
    margin-top: .5rem;
    margin-bottom: 5rem;
    margin-left: 5.5%;
    font-size: 1.5rem;
  }

  .contact p {
    font-size: 1.7rem;
    max-width: 500px;

  }

}

@media (min-width: 1024px) {
  a.hammy {
    display: none;
  }

  .links {
    display: flex;
  }

  .btn {
    display: inline-block;
    /* margin: 0 auto; */
    padding: 1% 2%;
    border: 8px solid rgb(251, 232, 80);
    background: rgb(251, 232, 80);
    color: black;
    margin-top: -0.5rem;
    margin-bottom: 4rem;
    margin-left: 4%;
    font-size: 1.5rem;
    border-radius: 16px;
  }

  .links li {
    margin-right: 4rem;
    color: white;
  }

  .nav-lnk:visited {
    color: gold;
  }

  a:hover {
    color: #3D20FA
  }

  .top {
    margin-bottom: 6rem;
  }

  h1 {
    font-size: 5.5rem;
    max-width: 746px;
  }

  .top p {
    max-width: 879px;
    font-size: 2rem;
    margin-left: 5.9%;
  }

  .companies {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    max-width: 1024px;
  }

  .child1,
  .child2 {
    /* width: 400px; */
    /* margin-left: 2rem;
    margin-right: 0rem;
    margin-bottom: 0; */
    margin: 0 auto;
  }

  .child1 {
    width: 388px;
    margin-left: 6rem;
  }

  .child2 {
    width: 480px;
    margin-right: 4rem;
  }

  .img1,
  .img2 {
    margin-right: 3rem;
    margin-left: 0;
  }

  .sites {
    display: flex;
  }

  .spense {
    max-width: 50%;
    margin-right: 8%;
    margin-left: 6%;
  }

  .pic {
    max-width: 90%;
    display: block;
  }

  .col-1,
  .col-2 {
    width: 50%;
    display: table-cell;
    padding-left: 5%;
  }

  .contact p {
    margin-left: 5.5%;
  }

  .contact-btn {
    margin-top: .5rem;
    margin-bottom: 5rem;
    margin-left: 6.3%;
    font-size: 1.5rem;
    border-radius: 16px;
  }

}
