/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* BASE STYLES
  /*******************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  /* margin: 1.5rem; */
  background: rgb(10, 10, 11);
}

h1,
h2,
h3,
header span {
  font-family: 'Prata', serif;
  color: whitesmoke;
}

h1 {
  font-size: 4.5rem;
  max-width: 407px;
  margin-left: 2rem
}

.top p {
  color: rgb(173, 173, 173);
  font-size: 2rem;
  margin-left: 2rem;
  max-width: 550px;
}

.sites p {
  font-size: 1.5rem;
  color: rgb(173, 173, 173);
  margin-left: 8%;
  max-width: 450px;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

.links {
  display: none;
}

.sites-lnk {
  font-size: 3rem;
}

header span {
  font-size: 2.5rem;
}

.founder,
footer {
  background: rgb(46, 48, 56);
}

.lni {
  color: white;
}

/******************************************
  /* LAYOUT
  /*******************************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top {
  margin-left: 3%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.companies {
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
  margin-bottom: 6rem;
  max-width: 420px;
}

.child1,
.child2 {
  width: 50%;
  margin-left: 5rem;
}

.img1,
.img2 {
  margin-bottom: 1.5rem;
  display: block;
}

.sites {
  margin-left: 4%;
}

.sites-lnk,
lni {
  display: inline-block;
  margin-left: 8%;
  margin-top: 1rem;
}

lni {
  font-size: 2.5rem;
  margin-left: 1.2rem;
  font-weight: bold;
}

.pic {
  max-width: 85%;
  margin: 0 auto;
  display: block;
}

footer {}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/